<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Portrait Height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.opa334.CCSupport.HomeControlsPrefs</string>
			<key>default</key>
			<integer>2</integer>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>4</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>3</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>PortraitHeight</string>
			<key>PostNotification</key>
			<string>com.opa334.ccsupport/ReloadSizes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Portrait Width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.opa334.CCSupport.HomeControlsPrefs</string>
			<key>default</key>
			<integer>4</integer>
			<key>min</key>
			<real>2</real>
			<key>max</key>
			<real>4</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>2</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>PortraitWidth</string>
			<key>PostNotification</key>
			<string>com.opa334.ccsupport/ReloadSizes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Landscape Height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.opa334.CCSupport.HomeControlsPrefs</string>
			<key>default</key>
			<integer>3</integer>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>4</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>3</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>LandscapeHeight</string>
			<key>PostNotification</key>
			<string>com.opa334.ccsupport/ReloadSizes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Landscape Width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.opa334.CCSupport.HomeControlsPrefs</string>
			<key>default</key>
			<integer>2</integer>
			<key>min</key>
			<real>2</real>
			<key>max</key>
			<real>4</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>2</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>LandscapeWidth</string>
			<key>PostNotification</key>
			<string>com.opa334.ccsupport/ReloadSizes</string>
		</dict>
	</array>
	<key>title</key>
	<string>Home Controls</string>
</dict>
</plist>